body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
#calculator{
    background-color: fff;
    border-radius: 10px;
    padding: 20px;
}
.buttons{
    height: 50px;
    width: 400px;
    margin: 5px;
    padding: 20px;
    background-color: gray;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}
#buttonsWrapper{
    display: flex;
}